<div>
  <br>
  <mat-card>
    <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>Sign Up for Fishbook</mat-card-title>
        <mat-card-subtitle>Your personal Catch & Release Record</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="createForm" class="create-form">
      <mat-card-content>
          <mat-form-field class="field-full-width">
              <input matInput placeholder="Name" formControlName="name" #name>
            </mat-form-field>

            <mat-form-field class="field-full-width">
              <input matInput placeholder="Surname" formControlName="surname" #surname>
            </mat-form-field>

            <mat-form-field class="field-full-width">
              <input matInput placeholder="Email Address" formControlName="email" #email>
            </mat-form-field>

            <mat-form-field class="field-full-width">
              <input matInput placeholder="Password" formControlName="password" #password type="password">
            </mat-form-field>

            <mat-form-field class="field-full-width">
              <input matInput placeholder="Cell Phone Number" formControlName="cellNo" #cellNo>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Activate Account" formControlName="isActivated" #isActivated>
                <mat-option value="True">True</mat-option>
                <mat-option value="False">False</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-divider></mat-divider>
            <br><br>

      </mat-card-content>

      <mat-card-actions>
          <button type="submit" class="submitBtn"
          (click)="addUser(name.value, surname.value, email.value, password.value, isActivated.value, cellNo.value)"
          [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Sign Up</button>
          <div class="flex-spacer"></div>
      </mat-card-actions>

    </form>
  </mat-card>
</div>
