.mat-toolbar{
  background-color: #59C675;
}


$sidenav-width: 220px; // 240px;

.mat-sidenav {
  width: $sidenav-width;
  background-color: #59C675;
  color: white;
}

.toolbar-title {
  margin: 0 16px 0 16px;
}

.mat-subheader {
  font-size: 18px;
  font-weight: 900;
}

.app-nav-list-icon {
  margin: 0 12px 0 12px;
}
.mat-icon {
  margin-right: 20px;
}
